@{
    ViewBag.Title = "NoticeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <link href="~/CSS/Notice/NoticeList.css" rel="stylesheet" />
    <script src="~/Scripts/js/Notice/NoticeList.js"></script>
        <div class="main-div NoticeOperation">
            <p class="title"><span>通知公告管理</span></p>
            <input type="button" class="btn btn-BlueBorder addNoticeBtn" value="添加通知公告" />
            <input type="button" class="btn btn-BlueBorder delNoticeBtn" value="删除通知公告" />
            <div class="search fr">
                <input type="text" class="searchTxt font-gray3" value="" />
                <div class="searchButton searchBtn">
                </div>
            </div><div class="clear"></div>
        </div>
        <div class="main-div">
            <table class="NoticeList" cellspacing=0 cellpadding=0>
                <colgroup>
                    <col width="80" />
                    <col width="60" />
                    <col />
                    <col width="100" />
                    <col width="100" />
                    <col width="120" />
                    <col width="100" />
                    <col width="80" />
                </colgroup>
                <thead>
                    <tr>
                        <th>全选&nbsp;<input type="checkbox" class="chk-all" /></th>
                        <th>标号</th>
                        <th>标题</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>查看次数</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="tbody_noticeList">
                   
                </tbody>
            </table>
            <div class="pagin">
                <div id="Pagin" class="paginControl">
                </div>
            </div>
        </div>
    <input type="hidden" id="hdnCount" />
    <input type="hidden" id="hdnSearch" />
    <input type="hidden" id="hdnPageSize" value="20" />
</body>
</html>
