@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordChange</title>
    <link href="~/CSS/base.css" rel="stylesheet" />
    <link href="~/CSS/People/PasswordChange.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/js/base.js"></script>
    <script src="~/Scripts/js/People/PasswordChange.js"></script>
</head>
<body>
    <form>
        <div class="main">
            <div class="main-div passwordOperation">
                <p class="title"><span>修改密码</span></p>
                <div class="content">
                    <table class="passwordTable" cellspacing="0" cellpadding="0">
                        <colgroup><col width="120" /><col /></colgroup>
                        <tr><th>原始密码：</th><td><input type="password" class="textBox oldPassword" /></td></tr>
                        <tr><th>新密码：</th><td><input type="password" class="textBox newPassword" /></td></tr>
                        <tr><th>重复新密码:</th><td><input type="password" class="textBox newPasswordAgain" /></td></tr>
                        <tr><td></td><td><label class="msgPassword"></label></td></tr>
                    </table>
                </div>
                <div class="btnDiv">
                    <input type="button" class="btn btn-BlueBorder OKBtn" name="OKBtn" value="确定" />
                    <input type="button" class="btn btn-BlueBorder cancelBtn" name="cancelBtn" value="取消" />
                </div>
            </div>
        </div>
        @*<div class="footer">
                footer
            </div>*@
        <input type="hidden" id="hdnUserName" value="@Html.ViewBag.username">
    </form>
</body>
</html>
