<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style> 
.divcss5-a,.divcss5-b{ width:150px; height:100px; float:left; border:1px solid #F00} 
.divcss5-b{overflow-y:scroll; overflow-x:scroll;} 
</style> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>滚动条</title>
</head>
<body>

</body>
</html>
