
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{




    <div class="form-actions navbar-fixed-bottom">
        <button type="submit" id="submit" class="btn blue"><i class="icon-ok"></i> 提交</button>

        <button type="button" class="btn" id="cancel">撤销</button>
        @Html.ValidationSummary(false)
    </div>
}
