@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="portlet box red m10">
    <div class="portlet-title">
        <h4><i class="icon-reorder"></i>项目信息</h4>

        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <label class="control-label">项目编号 :</label>
        <div class="controls">
            <input type="text" class="span3" placeholder="2015JP087" />
        </div>
        <label class="control-label">委托单位 :</label>
        <div class="controls">
            <input type="text" class="span3" placeholder="北京A家具有限公司" />
        </div>
        <label class="control-label">公司地址：</label>
        <div class="controls">
            <input type="text" class="span3" placeholder="北京工商大学" />
        </div>
        <label class="control-label">联系人姓名 :</label>
        <div class="controls">
            <input type="text" class="span3" placeholder="李四" />
        </div>
        <label class="control-label">联系人电话:</label>
        <div class="controls">
            <input type="text" class="span3" placeholder="12345678987" />
        </div>
        <div class="form-actions ">
            <button type="submit" class="btn btn-success">保存</button>
            <button type="submit" class="btn btn-success">生成流程卡等文件</button>
            <button type="submit" class="btn btn-success">上传扫描件</button>
            <button type="submit" class="btn btn-success">查看存档</button>
        </div>
    </div>
</div>

