@using DKLManager.Contract.Model;
@using HYZK.FrameWork.Utility;
@using HYZK.FrameWork.Common

@model Web.Demo.Areas.DKLManager.Models.ProjectImgFileViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.View.cshtml";
}

<div class="portlet box red m10">
    <div class="portlet-body">
        @using (Html.BeginForm("DownLoadDocFile", "ProjectImgFileHistory", FormMethod.Post))
        {
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>
                            项目编号
                        </th>
                        <th>
                            路径
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.FilePaths)
                    {
                        <tr>
                            <td>
                                @Model.ProjectNumber
                            </td>
                            <td>
                               @file
                            </td>
                            <td>
                                <button type="submit" id="submit" class="btn blue" name='fileName' value='@file'><i class="icon-ok"></i> 下载</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
