
@using HYZK.FrameWork.Common
@using HYZK.FrameWork.Utility
@using HYZK.FrameWork.Web.Controls
@using DKLManager.Contract.Model;
@using Web.Common;
@using Web.Demo.Areas.DKLManager.Models;

@model ProjectInfo

@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";

}
@section PageSpecificStyleSheetIncludes{
<style type="text/css">
    .form-refer-1 {
        font-weight: 800;
        font-size: large;
        color: black;
    }

    .form-refer-2 {
        font-weight: 800;
        font-size: 16px;
        margin-top: 10px;
        resize: none;
        height: 20px;
        width: 23%;
        text-align: center;
    }

    .form-refer-3 {
        font-weight: 800;
        font-size: large;
        width: 25%;
        margin-top: 10px;
        margin-left: 10px;
        resize: none;
        text-align: center;
    }
</style>

}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $('#uploader').FileUpload({
            'subfolder': 'dkl',
            'callback': function (msg) {
                //msg.url为图片地址
                var picHtml = '<li class="span2"><a> <img src="' + msg.url + '" alt=""> </a>';
                picHtml += '<div class="actions"> <a title="" class="" href="#"><i class="icon-pencil"></i></a>';
                picHtml += ' </div></li>';
                $("#pictrueContainer").html($("#pictrueContainer").html() + picHtml);

                document.getElementById("pictrueFilePaths").value += msg.url + ",";
            }
        });


        $("#ProjectClosingDate").datepicker(
            {
                changeYear: true,
                changeMonth: true,
            });


    </script>
    <script type="text/javascript">
        $("#ProjectClosingDate").datepicker(
            {
                changeYear: true,
                changeMonth: true,
            });
    </script>
}

@section MainContent{

    <div class="portlet box red m10">
       
        <div class="portlet-title">
            <h4><i class="icon-reorder"></i>项目退回</h4>
            <div class="control-group">

                <div class="form-refer-1">
                    &nbsp;&nbsp;&nbsp;退回原因
                    
                    @Html.TextAreaFor(m => m.Remarks, new { @class = "m-wrap small return1" })
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Remarks)</span>
                </div>
              

            </div>
                <img src="C:\Users\1\Pictures\Camera Roll" alt="" />

            </div>
        </div>
        <div class="portlet-body">
        </div>


}