@using HYZK.FrameWork.Common
@using HYZK.FrameWork.Utility
@using HYZK.FrameWork.Web.Controls
@using DKLManager.Contract.Model;
@using Web.Common;
@using Web.Demo.Areas.DKLManager.Models;

@model DeviceOrderDetail
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";

}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
    </style>
}
@section PageSpecificJavascriptIncludes{
    <script src="@Url.StaticFile("~/assets/js/jquery-1.8.3.min.js")"></script>
}
@section MainContent{

    <div class="p5">
        <label>项目编号：@Model.ProjectNumber</label>
        <label>预约时间：@Model.OrderDate</label>
    </div>

    <input id="m_ArgumentPrice" type="text" name="textbox" />
    <table class="table table-striped table-hover ">
        <thead>

            <tr>
                <th>
                    设备名称
                </th>
                <th>
                    预约设备个数
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                <tr>
                    <td class="blue">
                        <span>@(Model.DeviceName)</span>
                    </td>
                    <td>
                        <span>@(Model.OrderNumber)</span>
                    </td>
                </tr>
            }

        </tbody>
    </table>

}