@using HYZK.FrameWork.Common
@using HYZK.FrameWork.Utility
@using HYZK.FrameWork.Web.Controls
@using DKLManager.Contract.Model;
@using Web.Common;

@*@model HYZK.FrameWork.Common.PagedList<ProjectInfo>*@

@{
    ViewBag.Title = "MarketIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script type="text/javascript" src="@Url.StaticFile("~/content/scripts/echarts-all.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnCLS").click(function () {                
            $("#main").toggle(1000);         
        });
        $("#btnSub").click(function () {
           
            var year = $("#texBox1").val();
            if(year == ''|| year == '请输入制图年份'||year>3000||year<2000)
            {   
                alert("您输入的年份错误，请重新输入。");              
                return 0;
            }
            $("#main").show(1000);
            setTimeout(function () {
                //something you want delayed

                $.ajax({
                    type: "POST",
                    url: "MothNewProjectNumStatistics/HistoryEdit",
                    data: "Year=" + year,
                    dataType: 'json',
                    success: function (sesponseTest) {
                        var model = sesponseTest;

                        var myChart = echarts.init(document.getElementById('main'));

                        option = {
                            title: {
                                text: '图1:' + year + '年项目进度统计',
                                //         subtext: '纯属虚构'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: ['超期', '临近超期', '正常', '规定完成数']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: { show: true },
                                    dataView: { show: true, readOnly: false },
                                    magicType: { show: true, type: ['line', 'bar'] },
                                    restore: { show: true },
                                    saveAsImage: { show: true }
                                }
                            },
                            calculable: true,
                            xAxis: [
                                {
                                    type: 'category',
                                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [

                                {
                                    name: '超期',
                                    type: 'bar',
                                    data: [model[12], model[13], model[14], model[15], model[16], model[17], model[18], model[19], model[20], model[21], model[22], model[23]],
                                    markPoint: {
                                        data: [
                                            { type: 'max', name: '年最高' },
                                            { type: 'min', name: '年最低' }
                                        ]
                                    },
                                    markLine: {
                                        data: [
                                            { type: 'average', name: '平均值' }
                                        ]
                                    }
                                },
                                {
                                    name: '临近超期',
                                    type: 'bar',
                                    data: [model[24], model[25], model[26], model[27], model[28], model[29], model[30], model[31], model[32], model[33], model[34], model[35]],
                                    markPoint: {
                                        data: [
                                            { type: 'max', name: '最大值' },
                                            { type: 'min', name: '最小值' }
                                        ]
                                    },
                                    markLine: {
                                        data: [
                                            { type: 'average', name: '平均值' }
                                        ]
                                    }
                                },
                                 {
                                     name: '正常',
                                     type: 'bar',
                                     data: [model[36], model[37], model[38], model[39], model[40], model[41], model[42], model[43], model[44], model[45], model[46], model[47]],
                                     markPoint: {
                                         data: [
                                             { type: 'max', name: '最大值' },
                                             { type: 'min', name: '最小值' }
                                         ]
                                     },
                                     markLine: {
                                         data: [
                                             { type: 'average', name: '平均值' }
                                         ]
                                     }
                                 },
                                  {
                                      name: '规定完成数',
                                      type: 'bar',
                                      data: [model[0], model[1], model[2], model[3], model[4], model[5], model[6], model[7], model[8], model[9], model[10], model[11]],
                                      markPoint: {
                                          data: [
                                              { type: 'max', name: '最大值' },
                                              { type: 'min', name: '最小值' }
                                          ]
                                      },
                                      markLine: {
                                          data: [
                                              { type: 'average', name: '平均值' }
                                          ]
                                      }
                                  },

                            ]
                        };
                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
                });

            }, 1500);  
          
        });
    });
    $(document).ready(function () {
        $("#btnCLS1").click(function () {
            $("#main1").toggle(1000);
        });
        $("#btnSub1").click(function () {
           
            var year = $("#texBox2").val();
            if (year == '' || year == '请输入制图年份' || year > 3000 || year < 2000) {
                alert("您输入的年份错误，请重新输入。");              
                return 0;
            }
            $("#main1").show(1000);
            setTimeout(function () {

                $.ajax({
                    type: "POST",
                    url: "MothNewProjectNumStatistics/Caption",
                    data: "Year=" + year,
                    dataType: 'json',
                    success: function (sesponseTest) {
                        var model = sesponseTest;

                        var myChart = echarts.init(document.getElementById('main1'));

                        option = {
                            title: {
                                text: '图2：' + year + '年项目参与统计',
                                //         subtext: '纯属虚构'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: ['完成数', '产生数']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: { show: true },
                                    dataView: { show: true, readOnly: false },
                                    magicType: { show: true, type: ['line', 'bar'] },
                                    restore: { show: true },
                                    saveAsImage: { show: true }
                                }
                            },
                            calculable: true,
                            xAxis: [
                                {
                                    type: 'category',
                                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                {
                                    name: '完成数',
                                    type: 'bar',
                                    data: [model[0], model[1], model[2], model[3], model[4], model[5], model[6], model[7], model[8], model[9], model[10], model[11]],
                                    markPoint: {
                                        data: [
                                            { type: 'max', name: '最大值' },
                                            { type: 'min', name: '最小值' }
                                        ]
                                    },
                                    markLine: {
                                        data: [
                                            { type: 'average', name: '平均值' }
                                        ]
                                    }
                                },
                                {
                                    name: '产生数',
                                    type: 'bar',
                                    data: [model[12], model[13], model[14], model[15], model[16], model[17], model[18], model[19], model[20], model[21], model[22], model[23]],
                                    markPoint: {
                                        data: [
                                            { type: 'max', name: '年最高' },
                                            { type: 'min', name: '年最低' }
                                        ]
                                    },
                                    markLine: {
                                        data: [
                                            { type: 'average', name: '平均值' }
                                        ]
                                    }
                                }
                            ]
                        };
                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
                });
                
            }, 1500);  
           
        });
    });
    $(document).ready(function () {
        $("#btnCLS2").click(function () {
            $("#main2").toggle(1000);
        });
        $("#btnSub2").click(function () {

            var year = $("#texBox3").val();
          
            if (year == '' || year == '请输入制图年份' || year > 3000 || year < 2000) {
                alert("您输入的年份错误，请重新输入。");
                return 0;
            }
            $("#main2").show(1000);
            setTimeout(function () {
                //something you want delayed

                $.ajax({
                    type: "POST",
                    url: "MothNewProjectNumStatistics/HistoryCompare",
                    data: "Year=" + year,
                    dataType: 'json',
                    success: function (sesponseTest) {
                        var model = sesponseTest;

                        var myChart = echarts.init(document.getElementById('main2'));

                        option = {
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b}: {c} ({d}%)"
                            },
                            legend: {
                                orient: 'vertical',
                                x: 'left',
                                data: ['检测报告', '评价报告']
                            },
                            series: [
                                {
                                    name: '已完成报告',
                                    type: 'pie',
                                    radius: ['50%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        normal: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            show: true,
                                            textStyle: {
                                                fontSize: '30',
                                                fontWeight: 'bold'
                                            }
                                        }
                                    },
                                    labelLine: {
                                        normal: {
                                            show: false
                                        }
                                    },
                                    data: [
                                        { value: model[1], name: '检测报告' },
                                        { value: model[0], name: '评价报告' },

                                    ]
                                }
                            ]
                        };

                        // 为echarts对象加载数据
                        myChart.setOption(option);
                    }
                });

            }, 1500);

        });
    });
</script>



<!--BLOCK SECTION -->

<div class="portlet box red m10">
    <div class="portlet-title">
        <h4><i class="icon-reorder"></i>项目分析列表</h4>

        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row-fluid">
            <div class="span4">
                <div>
                    <a class="btn mini purple " title='编辑信息' style="display:none;" href="@Url.Action("Create")" target="_blank">
                        <i class=" icon-edit">
                        </i>
                        点我制柱形图
                    </a>
                    <a class="btn mini purple " title='编辑信息' style="display:none;" href="@Url.Action("History")" target="_blank">
                        <i class=" icon-edit">
                        </i>
                        点我制历史图
                    </a>
                </div>
            </div>
        </div>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div style="float:left;">
            <label style="float:left;">产生项目进度分析图:&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="texBox1" name="texBox1" value="请输入制图年份" onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input type="button" id="btnSub" name="btnSub" value="制作分析图" />
            <input type="button" id="btnCLS" name="btnCls" value="显示/隐藏" />
        </div>
        @*<div></div>*@
        <div >
            <label style="float: left; margin-left: 40px;">项目参与分析图:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="texBox2" name="texBox2" value="请输入制图年份" onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input type="button" id="btnSub1" name="btnSub1" value="制作分析图" />
            <input type="button" id="btnCLS1" name="btnCls1" value="显示/隐藏" />
        </div>
        <div>
            <label style="float: left;">检测评价对比图:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text"style="margin-left:31px;" id="texBox3" name="texBox3" value="请输入制图年份" onkeyup="this.value=this.value.replace(/\D/g,'')">
            <input type="button" id="btnSub2" name="btnSub2" value="制作分析图" />
            <input type="button" id="btnCLS2" name="btnCls2" value="显示/隐藏" />
        </div>
        <div id="main" style="height: 400px; border: 1px solid black; display:none;"></div>
        <div id="main1" style="height: 400px; border: 1px solid black; display:none;"></div>
        <div id="main2" style="height: 400px; border: 1px solid black; display:none;"></div>
        
        <!-- ECharts单文件引入 -->
       
    </div>

</div>


